{% extends "layout.html" %}

{% block container %}
    <div id="home"></div>
    <div class="hero-unit" align="center" style="padding: 20px; height: 475px;">
        <img src="/static/logo.png" width="600px"><br/><br/>
        <p>
            <h1>Your choice to <div id="mainMotto">live <span style="color: #4e9a06">green</span></div></h1><br/>
            
            <a href="#idea" class="btn btn-large">About us</a>
            <a href="/search" class="btn btn-primary btn-large"><i class="icon-search icon-white"></i> Start searching !</a>
        </p>
        <div class="fb-like" data-href="https://www.facebook.com/pages/CHouse/525907127420568" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    </div>
    <script type="text/javascript">
        setTimeout(change_motto, 1500);
    </script>
    <div id="idea" style="padding-top: 45px;"></div>
    <div>
        <h2>The Idea</h2>
        <div class="hero-unit" style="background-color: transparent;">
            <b><span style="color: #4e9a06">C</span><span style="color: #cc0000;">h</span>ouse</b> is a web app that spots green buildings in <b><span style="color: #4e9a06">green</span> city areas</b> to help ecofriendly people finding their <b><span style="color: #75507b">dream house</span></b>.<br/><br/>
            Our mantra: helping people to spread ecofriendly housing culture.
        </div>
    </div>
    <div id="team" style="padding-top: 45px;"></div>
    <div>
        <h2>The Team</h2>
        <div class="hero-unit">
            TODO
        </div>
    </div>
    <div id="backend" style="padding-top: 45px;"></div>
    <div>
        <h2>How it works</h2>
        <div class="hero-unit" style="background-color: transparent;">
            <span style="color: #4e9a06">C</span><span style="color: #cc0000;">h</span>ouse gets real estate information from people and agencies willing to improve their selling proposition adding an eco-sustainable perspective.
            Green data and local features (metro stations, parks etc.) are taken from public sources like 4squares, Institutions, Enviromental Agencies and communities.
            The algorithm then matches and geolocalizes the information, calculating a green rating for buildings that helps end users making their buying or rental choices.
            We decided to use only Open Source technology:
            <ul>
                <li><b>Python Flask</b>: Micro framework really Fast!</li>
                <li><b>MongoDB</b>: database made cool</li>
                <li><b>Bootstrap</b>: did you recognized it? ;-)</li>
                <li><b>Chouse</b>: yes... our backend is opensource!</li>
            </ul>
        </div>
    </div>
    <div id="todo" style="padding-top: 45px;"></div>
    <div>
        <h2>Next Steps</h2>
        <div class="hero-unit">
            <ul>
                <li>Find money</li>
                <li>Find money</li>
                <li>Improve API</li>
                <li>Widget for Agencies</li>
                <li>Find Partners</li>
            </ul>        
        </div>
    </div>
{% endblock %}