{% extends "layout.html" %}

{% block container %}
    <div id="home"></div>
    <div class="hero-unit" align="center" style="padding: 20px; height: 475px;">
        <img src="/static/logo.png" width="600px"><br/><br/>
        <p>
            <h1>Your choice to <div id="mainMotto">live <span style="color: #4e9a06">green</span></div></h1><br/>
            
            <a href="#idea" class="btn btn-large">About us</a>
            <a href="/search" class="btn btn-primary btn-large"><i class="icon-search icon-white"></i> Start searching !</a>
        </p>
        <div class="fb-like" data-href="https://www.facebook.com/pages/CHouse/525907127420568" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    </div>
    <script type="text/javascript">
        setTimeout(change_motto, 1500);
    </script>
    <div id="idea" style="padding-top: 45px;"></div>
    <div>
        <h2>The Idea</h2>
        <div class="hero-unit" style="background-color: transparent;">
            <b><span style="color: #4e9a06">C</span><span style="color: #cc0000;">h</span>ouse</b> is a web application that spots buildings in <b>green city areas</b> to help ecofriendly people to find their <b>dream house</b>.<br/><br/>
            Our mantra is: We help people  to spread ecofriendly housing culture.
        </div>
    </div>
    <div id="team" style="padding-top: 45px;"></div>
    <div>
        <h2>The Team</h2>
        <div class="hero-unit">
            TODO
        </div>
    </div>
    <div id="backend" style="padding-top: 45px;"></div>
    <div>
        <h2>How it works: Open Source!</h2>
        <div class="hero-unit" style="background-color: transparent;">
            Our system parse the API provided during the Hackaton at this page and some API to get Houses to rent in Rome.
            We decided to use only OpenSource technology:
            <ul>
                <li><b>Python Flask</b>: Micro framework really Fast!</li>
                <li><b>MongoDB</b>: database made cool</li>
                <li><b>Bootstrap</b>: did you recognized it? ;-)</li>
                <li><b>Chouse</b>: yes... our backend is opensource!</li>
            </ul>
        </div>
    </div>
    <div id="todo" style="padding-top: 45px;"></div>
    <div>
        <h2>Next Steps</h2>
        <div class="hero-unit">
            <ul>
                <li>Find money</li>
                <li>Find money</li>
                <li>Improove API</li>
                <li>Widget for Agencies</li>
                <li></li>
            </ul>        
        </div>
    </div>
{% endblock %}