{% extends "layout.html" %}

{% block container %}
    <h1>{{ point.title }}</h1>
    <br/>
    <div class="row">
        <div class="span8" align="center">
            {% if point.photos|length > 0 %}
            <div id="point-carousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                {% for photo in point.photos %}
                    <div class="item">
                        <img src="{{ photo['url'] }}" alt="">
                        <div class="carousel-caption">
                          <h4>{{ photo['title'] }}</h4>
                          <p>{{ photo['description'] }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <script type="text/javascript">
                $(function(){
                    $('.carousel').carousel();
                });
            </script>
            {% else %}
                <div class="hero-unit" style="padding: 5px;">
                    <div id="map_canvas" style="width:100%; height:400px"></div>
                </div>
            {% endif %}
            {% if point.description %}
            <div id="description" align="left">
                <h3>Description</h3>
                <p>
                    {{ point.description }}
                </p>
            </div>
            {% endif %}
        </div>
        <div class="span4">
            <div class="hero-unit" style="padding: 15px;">
                Green level: {{ point.green }}
            </div>
            <div class="hero-unit" style="padding: 15px;">
                <a href="{{ point.link }}" class="btn btn-large btn-block btn-primary">Visit the agecy</a>
            </div>
            {% if point.photos|length > 0 %}
            <div class="hero-unit" style="padding: 5px;">
                <div id="map_canvas" style="width:100%; height:200px"></div>
            </div>
            
            {% endif %}
            <div>
                <h3>Green informations:</h3>
                {% for key in point.analysis_data.keys() %}
                    <b>{{ key }}</b>:<br/>{{ point.analysis_data[key]|safe }}<br/><br/>
                {% endfor %}
            </div>
            
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            var mapOptions = {
                  center: new google.maps.LatLng({{ point.coordinates['lat'] }}, {{ point.coordinates['lng'] }}),
                  zoom: 18,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            theMap = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            ajaxLoadPoint("{{ point.id }}");
        });
    </script>
{% endblock %}